.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input {
  margin-bottom: 10px;
}

.password-icon {
  cursor: pointer;
  margin-left: -25px;
  position: relative;
}

.error-message {
  color: red;
}
